.blog{
    background: rgba(243, 245, 244, 1);
    width: 100%;
    margin-top: 100px;
    .container{
        max-width: 1180px;
        margin: 0 auto;
        padding-top: 80px;
    }
    &__title{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 50px;
    
        h4{
            font-family: Nunito Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            color: rgba(242, 190, 34, 1);
        }
        h3{
            font-family: Nunito Sans;
            font-size: 32px;
            font-weight: 800;
            line-height: 38.4px;
            text-align: center;
            color: rgba(24, 18, 30, 1);
        }
    }
    &__posts{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        &-item{
            display: flex;
            max-width: 580px;
            padding: 16px;
            gap: 24px;
            background: rgba(253, 253, 253, 1);
            border-radius: 10px;
            &-desc{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 24px;
                max-width: 295px;
                text-overflow: ellipsis;
                padding: 16px 0;

                h2{
                    font-family: Nunito Sans;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    text-align: left;
                    color: rgba(24, 18, 30, 1);
                }
                p{
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    color: rgba(24, 18, 30, 1);
                }
                div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                   
                    h3{
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: left;
                        color: rgba(242, 190, 34, 1);
                    }
                    button{
                        background: transparent;
                        span{
                            font-family: Nunito Sans;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px;
                            text-align: left;
                            color: rgba(26, 62, 62, 1);
                        }
                    }
                }
            }
        }
    }
    &__btn{
        padding: 12px 24px;
        border-radius: 4px;
        background: rgba(26, 62, 62, 1);
        
        margin-top: 50px;
        
        span{
            font-family:'Nunito Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.012em;
            text-align: left;
            color:  rgba(253, 253, 253, 1);
        }
    }
}