.ourtravels{
    margin-top: 100px;
    .container{
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__images{
        max-width: 480px;
        width: 100%;
        position: relative;
        img{
            position: absolute;
        }
        
        :nth-child(2){
            bottom: 0;
            right: 0;
        }

        &-playbtn{
            top: 301px;
            left: 280px;
        }
    }
    &__frame{
        max-width: 580px;
        width: 100%;
        margin: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        &-title{
            display: flex;
            flex-direction: column;
            gap: 8px;
            h4{
                font-family: Nunito Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                color: rgba(242, 190, 34, 1);
            }
            h3{
                font-family: Nunito Sans;
                font-size: 32px;
                font-weight: 800;
                line-height: 38.4px;
                text-align: left;
                color: rgba(24, 18, 30, 1);
            }
        }
        &-paragraph{
            font-family: Nunito Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color:  rgba(24, 18, 30, 1);
        }
        &-btn{
            padding: 12px 24px;
            border-radius: 4px;
            background: rgba(26, 62, 62, 1);
            span{
                font-family:'Nunito Sans', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.012em;
                text-align: left;
                color:  rgba(253, 253, 253, 1);
            }
        }
      
    }
}