@import './reset';
body{
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.inter{
    font-family: 'Inter', sans-serif;
}
.oxanium{
    font-family: 'Oxanium', sans-serif;
}
.nunito-sans{
    font-family: "Nunito Sans", sans-serif;
}
.element-animation{
    opacity: 0;
    transform: translateY(-20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.container{
    width: 100%;
    
    margin: 0 auto;
}

.mobile{
    display: none !important;
}
.desktop{
    display: flex !important;
}
.hidden{
    overflow: hidden;
}
.firstpage{
    padding-bottom: 82px;
    background: url("../images/background.png") no-repeat;
}