# Игнорирование папок и файлов, создаваемых средой разработки
.idea/
.vscode/

# Игнорирование временных файлов системы и IDE
*.log
*.tmp

# Игнорирование зависимостей
node_modules/

# Игнорирование билдов


# Игнорирование файла gulpfile.js
gulpfile.js
