<section class="blog">
    <div class="container">
        <div class="blog__title">
            <h4>делимся впечатлениями</h4>
            <h3>Блог о путешествиях</h3>
        </div>
        <div class="blog__posts">
            <div class="blog__posts-item">
                <img class="blog__posts-item-img" src="../images/post__image.png"></img>
                <div class="blog__posts-item-desc">
                    <h2>Красивая Италия, какая она в реальности?</h2>
                    <p>Для современного мира базовый вектор развития
                         предполагает независимые способы реализации соответствующих условий активизации.
                    </p>
                    <div> <h3>01/04/2023</h3> <button><span>читать статью</span></button></div>
    
                </div>
            </div>
            <div class="blog__posts-item">
                <img class="blog__posts-item-img" src="../images/post__image.png"></img>
                <div class="blog__posts-item-desc">
                    <h2>Красивая Италия, какая она в реальности?</h2>
                    <p>Для современного мира базовый вектор развития
                         предполагает независимые способы реализации соответствующих условий активизации.
                    </p>
                    <div> <h3>01/04/2023</h3> <button><span>читать статью</span></button></div>
    
                </div>
            </div>
            <div class="blog__posts-item">
                <img class="blog__posts-item-img" src="../images/post__image.png"></img>
                <div class="blog__posts-item-desc">
                    <h2>Красивая Италия, какая она в реальности?</h2>
                    <p>Для современного мира базовый вектор развития
                         предполагает независимые способы реализации соответствующих условий активизации.
                    </p>
                    <div> <h3>01/04/2023</h3> <button><span>читать статью</span></button></div>
    
                </div>
            </div>
            <div class="blog__posts-item">
                <img class="blog__posts-item-img" src="../images/post__image.png"></img>
                <div class="blog__posts-item-desc">
                    <h2>Красивая Италия, какая она в реальности?</h2>
                    <p>Для современного мира базовый вектор развития
                         предполагает независимые способы реализации соответствующих условий активизации.
                    </p>
                    <div> <h3>01/04/2023</h3> <button><span>читать статью</span></button></div>
    
                </div>
            </div>
    
        </div>
        <button class="blog__btn"><span>Другие материалы</span></button>
    </div>
    
</section>