<header class="header">
    <div class="container">
        <img src="images/header__Logo.svg" alt="">
        <div class="header__frame">
            <nav class="header__frame-nav">
                <ul>
                    <li>Главная</li>
                    <li>Про гида</li>
                    <li>Программа тура</li>
                    <li>Стоимость</li>
                    <li>Блог</li>
                    <li>Контакты</li>
                </ul>
            </nav>
            <button class="header__frame-btn"><span>Консультация</span></button>
        </div>
        
    </div>
    
    
</header>