<section class="ourprograms">
    <div class="container">
        <div class="ourprograms__frame">
            <div class="ourprograms__frame-title">
                <h4>наше предложение</h4>
                <h3>Лучшие программы для тебя</h3>
            </div>
            <p class="ourprograms__frame-paragraph">
                Его корни уходят в один фрагмент классической латыни 
                45 года н.э., то есть более двух
                тысячелетий назад. Ричард МакКлинток, 
                профессор латыни из колледжа.
            </p>
           <ul class="ourprograms__frame-list">
                <li class="ourprograms__frame-list-item">
                    <img src="../images/ourprograms-icon1.svg" alt="">
                    <div class="ourprograms__frame-list-item-txt">
                        <h3>Опытный гид</h3>
                        <h4>
                            Для современного мира
                             базовый вектор 
                             развития предполагает независимые способы реализации 
                             соответствующих условий активизации.
                        </h4>
                    </div>
                </li>
                <li class="ourprograms__frame-list-item">
                    <img src="../images/ourprograms-icon1.svg" alt="">
                    <div class="ourprograms__frame-list-item-txt">
                        <h3>Опытный гид</h3>
                        <h4>
                            Для современного мира
                             базовый вектор 
                             развития предполагает независимые способы реализации 
                             соответствующих условий активизации.
                        </h4>
                    </div>
                </li>
                <li class="ourprograms__frame-list-item">
                    <img src="../images/ourprograms-icon1.svg" alt="">
                    <div class="ourprograms__frame-list-item-txt">
                        <h3>Опытный гид</h3>
                        <h4>
                            Для современного мира
                             базовый вектор 
                             развития предполагает независимые способы реализации 
                             соответствующих условий активизации.
                        </h4>
                    </div>
                </li>
           </ul>
           <button class="ourprograms__frame-btn">
                <span>Стоимость программы</span>
           </button>
        </div>
        <div class="ourprograms__images">
            <img src="../images/ourprograms__item2.png" alt="">
            <img src="../images/ourprograms__item3.png" alt="">
            <img src="../images/ourprograms__item4.png" alt="">
            <img src="../images/ourprograms__item1.png" alt="">
        </div>
    </div>
</section>