<section class="populardist">
    <div class="container">
        <div class="populardist__title">
            <h4>по версии отдыхающих</h4>
            <h3>Популярные направления</h3>
        </div>
        <div class="populardist__images">
            <div class="populardist__images-item">
                <img src="../images/populardist__background.png" alt="">
                <div class="populardist__images-item-rate">
                    <img src="../images/rate-star.svg" alt=""><span>4.9</span>
                </div>
                <div class="populardist__images-item-bot">
                    <div class="container">
                        <div class="populardist__images-item-bot-txt">
                            <h4>Озеро возле гор</h4>
                            <p>романтическое приключение</p>
                        </div>
                        <button><span>480$</span></button>
                    </div>
                </div>
            </div>
            <div class="populardist__images-item">
                <img src="../images/populardist__background.png" alt="">
                <div class="populardist__images-item-rate">
                    <img src="../images/rate-star.svg" alt=""><span>4.9</span>
                </div>
                <div class="populardist__images-item-bot">
                    <div class="container">
                        <div class="populardist__images-item-bot-txt">
                            <h4>Озеро возле гор</h4>
                            <p>романтическое приключение</p>
                        </div>
                        <button><span>480$</span></button>
                    </div>
                </div>
            </div>
            <div class="populardist__images-item">
                <img src="../images/populardist__background.png" alt="">
                <div class="populardist__images-item-rate">
                    <img src="../images/rate-star.svg" alt=""><span>4.9</span>
                </div>
                <div class="populardist__images-item-bot">
                    <div class="container">
                        <div class="populardist__images-item-bot-txt">
                            <h4>Озеро возле гор</h4>
                            <p>романтическое приключение</p>
                        </div>
                        <button><span>480$</span></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="populardist__btn"><span>Рейтинг направлений</span></button>
    </div>
</section>